<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <i class='bx bx-arrow-back' slot="start" routerLink="/tiendaprincipal" style="margin-left: 16px; font-size: 24px; font-weight: 400;"></i>
    <!--ion-title>membresias</ion-title-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="vspace"></div>
  <div class="vspace"></div>
  <div style="display: flex; margin: 10px auto; justify-content: center; align-items: center;">
    <img src="../../assets/icon/trocaderologo.jpg" alt="" style="width: 72px; height: 72px; border-radius: 8px 8px 8px 8px;">
  </div>
  
  <h1 class="ion-text-center texto-60" 
    style="font-weight: 800; font-size: 32px;">
    Trocadero<span style="font-size: 52px; color: #673BB7;">S</span>hop
  </h1>

  <p class="ion-text-center">
    La tienda de compra y venta de productos de pequeños <br>Empresarios en Colombia
  </p>
  <h2 class="ion-text-center">Quieres vender tus productos?</h2>
  <p>TrocaderoShop es la solucion para que puedas ofrecer
  tus Productos y Servicios. <br>Para esto es importante que adquieras tu Membresia para que obtengas los beneficios
  que te ofrecemos.</p>
  <br>
  <ion-card mode="ios">
    <ion-card-content>
      <img src="../../assets/pago-con-tarjeta.png" alt="" class="logo-card">
      <p style="font-size: 24px; font-weight: 500;" class="ion-text-center">Membresia por 1 Mes <br>
      <strong>$100</strong>
      </p>
      <ion-button color="trocadero" expand="block" mode="ios" routerLink="/agregarproducto">Comprar</ion-button>
    </ion-card-content>
  </ion-card>
 

</ion-content>
